a {background:beige}

a:link {color:blue}

a:visited {
  color: green;
  background:red;
}

a:hover {
  color:hotpink;
  background: white;
}

a:active {
  color:red;
  background: yellow;
}

h1 {background:grey;}

h2 {background-color: gray;}

img {
  margin: 5px 100px;
  border: 2px solid grey;
  border-radius: 10%;
  padding: 10px;
}

ol li {font-weight: 900;}

p {
  height:100%;
  width: 700px;
}

span {
  display: inline-block;
  background-color: goldenrod;
  /*width: 4em;*/
}

/*class styling*/
.box {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  background-image: url("veggies/CAPITOL-REEF-National-Park.jpg")
}

.chinese {
  font-family:fantasy;
  text-align: center;
  font-style: oblique;
}

.float-left {
  float: left;
  margin: 0 10px 10px 0;
}

.float-right {
  float: right;
  margin: 0 0 10px 10px;
}
/*ID styling*/

#drug {
  text-decoration: line-through;
}

#gilligan {
  color: navy;
  background-color: lightblue;
  border: yellow dashed 2px;
  hover: blue;
}
